# Environments
.env
.venv
env/
venv/

# PyCharm
.idea/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Configs & Secrets
configs/settings.ini

# Data (We don't push raw/normalized data to git, only structure and examples)
data/raw/*
!data/raw/.gitkeep
!data/raw/README.md
!data/raw/market_assets.lua

data/normalized/*
!data/normalized/.gitkeep